.section-content {
    box-sizing: border-box;
    outline: 0;
    max-width: 640px;
    margin: auto;
    border-radius: 10px;

}

.tabela-content {
    display: flex;
    background-color: #E0A946;
    border-radius: 10px;
}

.tabela-content form{
    display: block;
    margin: auto;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    color: #5E0894;
}

.text-field{
    display: block;
    color: #5E0894;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.text-field label{
    color: #5E0894;
}


.text-field label{
    padding-top: 10px;
    display: block;
    text-align: left;
    padding: 10px;
    padding-left: 55px;
    font-size: 24px;
    padding-bottom: 5px;
}

.text-field input{
    height: 20px;
    border: none;
    width: 80%;
}

.text-field input {
    display: block;
    margin: auto;
}

.text-field input:focus{
    background-color: #E0A946;
}

.text-field button{
    background-color: #9C2FE0;
}

.text-field button:hover{
    background-color: #E0A946;
}