.mensagem {
    color: #5E0894;
    font-size: 16px;
    max-width: 70%;
    border: solid;
    border-color: #9C2FE0;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #E0A946;
    
}

